.navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: max-content;
  margin-bottom: 8px;
}

.location {
  width: 200px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.location-svg {
  filter: brightness(200%);
  background: transparent;
}

.arrow-down {
  cursor: pointer;
  height: 10px;
}

.arrow-down:hover {
  background: rgb(50, 102, 119);
  transition: 250ms;
}

.search-box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-search-box {
  color: #000;
  height: 150px;
  width: 72%;
  background: white;
  border-radius: 1px 1px 12px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 8px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.item-search {
  padding: 3px 5px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.item-search:hover {
  border-radius: 4px;
  background-color: #d1d1d17c;
  transition: 150ms;
}

.searching {
  display: flex;
  width: 100%;
}

input[type="text"] {
  border-radius: 4px;
  padding-left: 10px;
  font-size: 17px;
  position: relative;
  width: 72%;
  height: 28px;
  outline: none;
  border: none;
  border-bottom: 1px black solid;
}

button {
  width: 28%;
  height: 28px;
  background-color: #0057ff;
  color: black;
  font-weight: 700;
  border: none;
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #6191f1;
  letter-spacing: 0.5px;
  transition: 100ms;
}

@media screen and (max-width: 400px) {
  .location {
    width: 180px;
  }
}
