.box-forecast {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 11px 20px 11px 14px;
  max-width: 950px;
}

.nextForecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.box-forecastday {
  margin-top: 5px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and(max-width:420px) {
  .box-forecastday {
    row-gap: 12px;
  }
}

.forecastday {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  border-radius: 20px;
}
.forecastday:hover {
  border: 0.5px solid rgb(142, 187, 255);
  background: rgba(72, 153, 227, 0.2);
  transition: 250ms;
}

.tempaverage {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  column-gap: 8px;
}

.tempmin {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
