:root {
  font-family: sf-pro, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "sf-pro";
  src: local("sf-pro"),
    url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");

  font-family: "sf-pro-medium";
  src: local("sf-pro-medium"),
    url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
