:root {
  font-family: sf-pro, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background: rgb(41, 178, 221);
  background: linear-gradient(
    317deg,
    rgba(41, 178, 221, 1) 0%,
    rgba(51, 170, 221, 1) 47%,
    rgba(45, 200, 234, 1) 100%
  );
  color: white;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "sf-pro";
  src: local("sf-pro"),
    url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");

  font-family: "sf-pro-medium";
  src: local("sf-pro-medium"),
    url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
